@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Setting up */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: azure;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", serif;
  color: #000;
}
html {
  scroll-behavior: smooth;
}

/* Header */
header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-top: 0px;
  margin-left: 30px;
}
.header-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Jomhuria", serif;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 200;
}

header {
  z-index: 10000;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #fff;
  padding: 10px 30px;
  top: 0;
}
.header-image img {
  height: 350px;
  margin: 20px 0px 20px 70px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-hi-there {
  font-size: 40px;
  margin-left: 40px;
  font-family: "Jomhuria", serif;
  margin-bottom: 40px;
  align-items: center;
}

.header-brief {
  align-items: center;
  position: relative;
  bottom: 30px;
  margin-left: 40px;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 200;
  font-family: "Jomhuria", serif;
  width: auto;
  margin-bottom: 0px;
  line-height: 30px;
}
.header-contact-icon {
  height: 30px;
}
.header-contact {
  display: flex;
}
/* Header End */
/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.projects .images {
  display: flex;
width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.projects:first-child {
  border-right: #000 1px solid;
}
.project a {
  margin-top: auto;
}
.title {
  text-align: center;
  font-family: "Jomhuria", serif;
  letter-spacing: 1px;
  margin: 10px 0px;
  font-weight: 200;
  font-size: 60px;
}
.project img {
  margin: 0 50px;
  border-radius: 10px;
}
.project p {
  text-align: left;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 500;
  width: 700px;
  justify-content: left;
}

.project {
  width: auto;
  display: flex;
  margin: 30px;
  transition: all 0.3s ease-in-out;
}

.project .project-info {
  font-family: "Jomhuria", serif;
  width: 50% ;
  display: flex;
  flex-direction: column;
}
.project .tools {
  font-family: "Inter", serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}
.project h2 {
  font-size: 44px;
  font-weight: 500;
}
.project button {
  background-color: #00f4ab13;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
/* Projects End */
/* Skills Start */
#skills .container {
  display: flex;
  justify-content: space-around;
}
#skills .skill {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
#skills .skill img {
  margin: 0 20px;
  height: 100px;
}
#skills .skill p {
  font-family: "Inter", serif;
  letter-spacing: 1px;
  font-size: 40px;
}
#skills .skill:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 40px orange;
  background-color: aliceblue;
  border-radius: 10px;
  z-index: 100;
}
#skills hr {
  margin-bottom: 40px;
  margin-top: 50px;
}
#about p {
  text-align: center;
  font-family: "Jomhuria", serif;
  font-size: 50px;
  padding: 10px;
  text-shadow: 1px 1px 10px rgba(128, 0, 128, 0.5);
}
#about span {
  text-shadow: 1px 1px 20px greenyellow;
}
/* Skills End */
/* Contact Start */

.contact-icon {
  height: 70px;
  display: block;
}
.contact-block {
  display: flex;
  align-items: center;
  margin: 0px 0px 30px 50px;
}
.contact-block a {
  font-family: "Jomhuria", serif;
  letter-spacing: 1px;
  font-size: 40px;
  margin-left: 20px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 30px 50px;
}
form input,
form textarea {
  display: block;
  border-radius: 5px;
  width: 500px;
  margin: 5px 0px;
  padding: 10px;
  background-color: #00f4ab13;
  border: 1px solid #bbb;
}
form button {
  background-color: #20c997;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 80px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
}
/* Contact End */
/* Footer Start */
.footer {
  margin: 0px 0px 0px 0px;
  background-color: #000016;
  color: white;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}
.footer-title span {
  color: #3a6cf4;
}
.footer .social-icons a {
  font-size: 1.7em;
  padding: 0 22px 0 0;
  color: white;
}
/* Footer End */
/* Responsiveness */
/* Tablets  AND large Screens*/
@media (min-width: 1000px) {
  header {
    margin: 0px 0px 0px 0px;
    width: 100%;
  }
  .header-image img {
    height: 300px;
    margin: 20px 0px 20px 20px;
  }
  .project-info p{
    max-width: 50%;
  }
  form input,
  form textarea {
    width: 300px;
  }
  .header-name {
    margin-left: 0px;
  }
  header nav ul li {
    margin: 0 10px;
  }
  .footer {
    padding: 2em;
    width: 100%;
  }
}
/* Mobile */
@media (max-width: 600px) {
  .header-name {
    font-size: 25px;
    letter-spacing: 0.5px;
    margin-right: 20px;
  }
  #about p {
    font-size: 25px;
  }
  .projects {
    margin: 0px auto;
    margin-left: 20px;
  }
  .project{
    width: 100%;
    flex-direction: column;
    margin: 0px auto;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }
  .project .images img {
    width: 500px;
    height: 300px;
  }
  .project .project-info {
    width: 100%;
  }
  .project .project-info p {
    width: 100%;
    text-align: center;
  }
  
  
  form input,
  form textarea {
    width: 100%;
  }
  .contact-block {
    display: flex;
    align-items: center;
    margin: 0px 0px 30px 10px;
  }
  #skills .container {
    flex-wrap: wrap;
    justify-content: left;
  }
  .title {
    letter-spacing: 0.5px;
    font-size: 50px;
  }
  header {
    padding: 2px auto;
  }
  .project img {
    margin-bottom: 20px;
  }
  .contact-icon {
    height: 50px;
    display: block;
  }
  .header-container {
    flex-direction: column;
  }
  .header-image img {
    height: 350px;
    margin: 10px auto;
  }
  a {
    font-weight: 400;
    font-size: 14px;
  }
  .footer .social-icons a {
    font-size: 1.3em;
    padding: 0 22px 0 0;
  }
  .footer {
    width: 100%;
    padding: 2em;
  }
}
